*{
    box-sizing: border-box;
}
html,body{
    background-color: #fff;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.padre{
    color:pink;
    & .hijo{
        color:green;
        & .nieto{
            color: red;
        }
    }
}