*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background: #fff;
    
    color: #000;
    font-size: 30px;
    width: 100%;
    background-color: gray;
    font-family: 'Roboto Slab', serif;

    
}
spam{
    display: inline-block;
   
}

main{
    width: 31.25rem;
    background-color: white;
    margin: 0 auto;
}
nav{
    background-color: #fff;
    width: 31.25rem;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
}
nav span{
    justify-self: start;
    padding-right: 9.375rem;
    font-weight: 400;
}
.sec_h1{
    width: 31.25rem;
    height: 15.625rem;
    background-image: url(../img/edificios.webp) ;
    background-size: cover;
    backdrop-filter: brightness(.5);
    
}
h1{
    filter: none ;
    text-align: center;
    color: #fff; 
    padding-top: 3.125rem;
    font-weight: 800;
    font-size: 1.5rem;
}
h2{
    font-size: 1rem;
}
h3{
    font-size: .6rem;
}
.sec_h1 p{
    color: #fff;
    font-size: .5rem;
    margin: 1rem 7.5rem 0;
    text-align: center;
    filter: brightness(.9)
}
.sec_three{
    display: flex;
    width: 100%;
    
}
.sec_three div:first-child
{
    background-color: #333333;
}
.sec_three div:nth-child(2){
    background-color: #D61727;
}
.sec_three div:nth-child(3){
    background-color: #38324E;
}
.sec_three > div{
    color: #fff;
    font-size: .3rem;
    height: 7rem;
    position: relative;
    padding-top: 1.7rem;
    padding-left: .7rem;
}
.sec_three > div > .barra{
    position: absolute;
    border: 1px solid #fff;
    width: 1rem;
    background-color: #333333;
    margin-top: .5rem;
}
.sec_three > div >p{
    padding-top: 1rem;
}
.sec_we{
    background-color: #F6FAFD;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 3rem;
    
}
.sec_we h2{
    flex-basis: 100%;
    font-size: .8rem;
}
.sec_we div{
    
    padding-top: -10rem;
    flex-basis: 20%;
    position: relative;
}
.sec_we p {
    font-size: .5rem;
    flex-basis: 80%;
    padding-top: 0.9375rem;
}
.sec_we div div{
    position: absolute;
    background-color: #7C535F;
    width: 0.15rem;
    height: 3.5rem;
    transform: rotate(90deg);
    top: -0.4375rem;
    left: 1.875rem;
}
.sec_winning{
    background-color: #38324E;
    width: 100%;
    height: 16rem;
}
.sec_winning .container{
    padding-top: 1rem;
    width:20rem ;
    margin: 0 auto;
    display: flex;
}
.sec_winning .container .cont_1{
    width: 13.2rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: .3rem;
    column-gap: .3rem;
    
}
.sec_winning .container .cont_2{
    width: 6.875rem;
    display: flex;
}
.sec_winning .container .cont_1 div:nth-child(1){
    width: 6.3rem;
    height: 8rem;
    background-image: url(../img/sec_three_secre.webp);
    background-size: cover;
    filter: brightness(.5);
}
.sec_winning .container .cont_1 div:nth-child(2){
    width: 6.3rem;
    height: 8rem;
    background-image: url(../img/sec_three_cajas.jpg);
    background-size: cover;
    filter: brightness(.5);
}
.sec_winning .container .cont_1 div:nth-child(3){
    width: 6.3rem;
    height: 5rem;
    color: #fff;
    background-color:#D61727;

    
}
.sec_winning .container .cont_1 div:nth-child(4){
    width: 6.3rem;
    height: 5rem;
    background-image: url(../img/sec_three_escritorio.jpg);
    background-size: cover;
    filter: brightness(.5);
}
.sec_winning .container .cont_1 div:nth-child(3)  h4{
    font-size: .4rem;
    text-align: left;
    color: #fff;
    padding-top: .4rem;
    padding-left: .6rem;
    
}
.sec_winning .container .cont_1 div:nth-child(3)  p{
    
    font-size: .3rem;
    padding-left: .6rem;
    padding-right: .6rem;
    padding-top: .3rem;
    
    
}
.sec_winning .container .cont_2{
    background-color: #F6FAFD;
    color:#000;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.sec_winning .container .cont_2 h4{
    background-color: #F6FAFD;
    color:#000;
    width: 6.875rem;
    height: 6.25rem;
    font-size: .5rem;
    text-align: left;
    padding-left: .5rem;
    padding-top: 4.5rem;
}
.sec_winning .container .cont_2 p{
    background-color: #F6FAFD;
    color:#000;
    text-align: center;
    font-size: .3rem;
    width: 6.875rem;
    text-align: left;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 4rem;
}
.set_choose p{
    font-size: .3rem;
}
.set_choose{
    width: 100%;
    height: 15rem;
    background-color: #D61727;
    padding-top: 1rem;
    
}

.set_choose div{
    width: 20rem;
    background-color:#F6FAFD;
    height: 13rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.set_choose div .set_choose_why{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.set_choose div .set_choose_why_2nd{
 
    width: 50%;
}
.set_choose div .set_choose_why_2nd div{
    background-image: url(../img/set_choose_barbon.jpg);
    background-size:cover;
    filter: brightness(.5);
    width: 10rem;
}
.set_choose div .set_choose_why h4{
    font-size: .4rem;
    color:#000;
}
.set_choose div .set_choose_why h3{
    font-size: .8rem;
    color:#000;
    padding-left: .5rem;
    padding-top: .5rem;
}

.set_choose div .set_choose_why div{
    color: black;
    width: 100%;
    position: relative;
}
.set_choose div .set_choose_why div i{
    position: absolute;
    color: #D61727;
    left: 1rem;
}
.set_choose div .set_choose_why div h4{
    position: absolute;
    left: 2.3rem;
}
.set_choose div .set_choose_why div p{
    position: absolute;
    padding-left: 1.15rem;
    padding-right: 1.15rem;
    left: 1.15rem;
    bottom: 1.4rem;
}
.set_9img{
    width: 100%;
    height: 38rem;
    background-color: #F6FAFD;
    padding-top: 1rem;
}

.set_9img > div{
    width: 20rem;
    height: 36rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.set_9img  div article:nth-child(1)
{
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.set_9img  div article:nth-child(2)
{
    width: 100%;
    height: 11rem;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    
}
.set_9img  div article:nth-child(1) > div
{
    width: 5.4rem;
    height: 5.4rem;
    background-color: #7C535F;
}
.set_9img  div article:nth-child(1)  div:nth-child(1)
{
    background-image: url(../img/set_9img_1.jpg);
    background-size: cover;
    filter: brightness(.5);
}
.set_9img  div article:nth-child(1)  div:nth-child(2)
{
    background-image: url(../img/set_9img_2.webp);
    background-size: cover;
    filter: brightness(.3);
}
.set_9img  div article:nth-child(1)  div:nth-child(3)
{
    background-image: url(../img/set_9img_3.jpg);
    background-size: cover;
    filter: brightness(.5);
}
.set_9img  div article:nth-child(1)  div:nth-child(4)
{
    background-image: url(../img/set_9img_4.jpg);
    background-size: cover;
    filter: brightness(.5);
}
.set_9img  div article:nth-child(1)  div:nth-child(5)
{
    background-image: url(../img/set_9img_5.jpg);
    background-size: cover;
    filter: brightness(.5);
}
.set_9img  div article:nth-child(1)  div:nth-child(6)
{
    background-image: url(../img/set_9img_6.jpg);
    background-size: cover;
    filter: brightness(.5);
}
.set_9img  div article:nth-child(1)  div:nth-child(7)
{
    background-image: url(../img/set_9img_7.jpg);
    background-size: cover;
    filter: brightness(.5);
}
.set_9img  div article:nth-child(1)  div:nth-child(8)
{
    background-image: url(../img/set_9img_8.jpeg);
    background-size: cover;
    filter: brightness(.5);
}
.set_9img  div article:nth-child(1)  div:nth-child(9)
{
    background-image: url(../img/set_9img_9.jpg);
    background-size: cover;
    filter: brightness(.5);
}
.set_9img  div article:nth-child(1)  div:nth-child(10)
{
   color: #000;
   background-color: #F6FAFD;
   position: relative;
}
.set_9img  div article:nth-child(1)  div:nth-child(10) h3
{
   font-size: .6rem;
}
.set_9img  div article:nth-child(1)  div:nth-child(10) div
{
    position: absolute;
   width:0.1rem ;
   height: 1.5rem;
   transform:rotate(90deg);
   left: .8rem;
}
.set_9img  div article:nth-child(1)  div:nth-child(10) p
{
   position: absolute;
   font-size: .3rem;
   margin-top: 1.5rem;
   
}
.set_9img  div article:nth-child(1)  div:nth-child(11) 
{
    background-image: url(../img/set_9img_11.jpg);
    background-size: cover;
    
    filter: brightness(.5);
}
.set_9img  div article:nth-child(1)  div:nth-child(12)
{
    background-image: url(../img/set_9img_12.jpg);
    background-size: cover;
    filter: brightness(.2);
    
}
.set_9img div article:nth-child(2) {
    position: relative;
    display: flex;
}
.set_9img div article:nth-child(2) > div:nth-child(1){
    position: absolute;
    width: 0.1rem;
    height: 1.5rem;
    right: 50%;
    background-color: black;

}
.set_9img div article:nth-child(2) > div:nth-child(2){
    position: absolute;
    width: 100%;
    height: 1.5rem;
    top: 2rem;
    background-color: red;
    text-align: center;

}
.set_9img div article:nth-child(2) > div:nth-child(3){
    position: absolute;
    width: 100%;
    height: 1.5rem;
    top: 5rem;
    background-color: red;

}